body {
    background-color: #E4DDCF;
    font-family: Consolas, monaco, monospace;
    font-size: 25px;
}

#hdr_Inicio {
    display: flex;
    justify-content: end;
}

#hdr_Inicio a {
    margin: 30px 30px 0px 0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #000;
    border-radius: 30px;
    padding: 5px;
}

#div_inicio {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 100px;
    margin-top: 1px;
}

#hdr_LoginCadastro h1{
    font-size: 40px;
    margin: 30px 0px 0px 30px;
}

#div_login {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div_login input {
    background-color: #C0B7A6;
    width: 300px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #000;
    border-radius: 30px;
    padding: 5px;
}

#div_cadastro {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div_cadastro input {
    background-color: #C0B7A6;
    width: 300px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}